<footer class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 footer-main__col">
                <div class="footer-main__header">Twitter Feeds</div>
                <div class="footer-main__item">
                    <p>Check out this great theme item</p>
                    <p><a href="#">http://tadjalskfj.com</a></p>
                    <p>2 weeks ago</p>
                </div>
                <div class="footer-main__item">
                    <p>Check out this great theme item for</p>
                    <p><a href="#">http://tadjalskfj.com</a></p>
                    <p>2 weeks ago</p>
                </div>
                <div class="footer-main__item">
                    <p>Check out this great theme item for you</p>
                    <p><a href="#">http://tadjalskfj.com</a></p>
                    <p>2 weeks ago</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 footer-main__col">
                <div class="footer-main__header">Newsletter</div>
                <div class="footer-main__item footer-main__item--bordered">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adip
                        iscing elit. Ut ultricies sagittis magna a comm. 
                        Ut eget eros mauris, ut cursus urna.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 footer-main__col">
                <div class="footer-main__header">Recent Projects</div>
                <div class="footer-wrapper footer-wrapper--bordered">
                    <div class="footer-main__item footer-inner">
                        <img src="img/TEMP-footer-recent.jpg">
                        <p>Sketchy Business Card</p>
                        <p><a href="#">http://tadjalskfj.com</a></p>
                        <p>2 weeks ago</p>
                    </div>
                </div>
                <div class="footer-wrapper footer-wrapper--bordered">
                    <div class="footer-main__item footer-inner">
                        <img src="img/TEMP-footer-recent.jpg">
                        <p>Message Boards in Nature</p>
                        <p><a href="#">http://tadjalskfj.com</a></p>
                        <p>2 weeks ago</p>
                    </div>
                </div>
                <div class="footer-wrapper footer-wrapper--bordered">
                    <div class="footer-main__item footer-inner">
                        <img src="img/TEMP-footer-recent.jpg">
                        <p>Website Design Kit</p>
                        <p><a href="#">http://tadjalskfj.com</a></p>
                        <p>2 weeks ago</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 footer-main__col">
                <div class="footer-main__header">Contact</div>
                <div class="footer-wrapper">
                    <p class="contact contact--phone">
                        1 - 000 - 000-0000<br>
                        1 - 000 - 000-0000
                    </p>
                </div>
                <div class="footer-wrapper">
                    <p class="contact contact--mobile">
                        1 - 000 - 000-0000<br>
                        1 - 000 - 000-0000
                    </p>
                </div>
                <div class="footer-wrapper">
                    <p class="contact contact--mail">
                        abcdefg@hijs.dfh
                        fjashfaf@jkfs.ckd
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>