.bg-grey {
    background-color: $background-grey;
}

/**
 * Main navigation
 */

.navbar {
    border: none;

    .btn {
        font-size: $navbar-font-size;
    }
}

.navbar-nav {
    .active {
        position: relative;
        font-size: $navbar-font-size-active;
        font-weight: bold;

        &:after {
            content: "";
            position: absolute;
            z-index: 10005;
            bottom: -1px;
            width: 100%;
            height: 1px;
            background-color: #0080b7;
        }

        a {
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 12px;

            @media (min-width: $screen-sm-min) {
                border-bottom: 12px solid #0080b7;
                padding-bottom: 20.5px;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    margin-left: -4px;
                    background-color: #0080b7;
                    border-left: 8px solid #0080b7;
                    border-top: 8px solid #0080b7;
                    transform: rotate(45deg);
                }
            }
        }
    }

    li {
        a {
            text-align: center;

            @media (min-width: $screen-sm-min) {
                padding-left: 15px;
                padding-right: 15px;  
            }
            @media (min-width: $screen-md-min) {
                padding-left: 28px;
                padding-right: 28px;
            }          
        }
    }
}

.nav-main {
    z-index: $zindex-navbar;
    font-size: $navbar-font-size;

    &::after {
        content: "";
        position: absolute;
        bottom: -1;
        width: 100%;
        height: 1px;
        background-color: #d7d9da;
    }

    .navbar-brand {
        @media (min-width: $screen-md-min) {
            margin-right: 158px;
        }

        img {
            margin-left: 5px;
        }
    }

    .navbar-nav {
        .btn {
            margin: 27px 14px;
            margin-bottom: 26px;
            padding: 5px 19px;
            
            @media (min-width: $screen-md-min) {
                margin-left: -6px;
            }
        }

        .btn-default {
            color: #fff;
        }

        .btn-default:hover {
            background-color: darken($btn-default-bg, 5%);
            color: #fff;
        }
    }
}

label[for="search-input"] {
    position: relative;
    padding-top: 6px;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        top: -2px;
        right: -47px;
        width: 36px;
        height: 36px;
        background: url(../img/icon-search.png) top left no-repeat;
        cursor: pointer;
    }
}

.navbar-form {
    @media (max-width: $screen-md-min) {
        text-align: center;
    }
}



/**
 * Slider
 */

.carousel {
    p {
        padding-top: 8px;
        padding-bottom: 43px;
        margin-bottom: 0;
        color: #cccece;
    }

    &__header {
        font-family: $font-family-secondary;
        font-size: 45px;
        font-weight: bold;
        letter-spacing: -2px;
        text-transform: uppercase;

        @media (max-width: $screen-md-min) {
            font-size: 30px;
        }
    }
}

.item__image-wrapper {
    @media (max-width: $screen-md-min) {
        height: 480px;
    }
    @media (min-width: $screen-lg-min) {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.carousel-caption {
    top: 72px;
    font-size: 14px;
    color: #cccece;

    @media (max-width: $screen-md-min) {
        top: 120px;
        font-size: 12px;
    }
    @media (max-width: $screen-xs-min) {
        top: 60px;
        font-size: 12px;
    }

    .btn {
        padding: 6px 58px;
        font-size: 25px;
        font-family: "Ubuntu Condensed", sans-serif;

        @media (max-width: $screen-md-min) {
            font-size: 16px;
        }
    }
}




/**
 * Services
 */

.services {
    position: relative;
    padding-top: 50px;
    padding-bottom: 22px;
    text-align: center;

    &__header {
        position: absolute;
        top: -32px;
        left: 50%;
        margin-left: -70px;
        padding: 9px 28px;
        border-radius: 4px;
        background-color: #2190c1;
        font-family: $font-family-secondary;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
    }
}

.service {
    color: #515862;

    @media (max-width: $screen-md-min) {
        padding: 20px 40px;
    }

    &__header {
        margin-bottom: 4px;
        font-family: "Bree Serif", sans-serif;
        font-size: 17px;
    }

    &__logo {
        margin-bottom: 19px;
    }

    a {
        color: #3e9dd1;
    }
}



/**
 * Portfolio
 */

.portfolio {
    background-color: #2e3e4f;
    color: $brand-secondary;

    &__header-row {
        padding-top: 52px;
        padding-bottom: 62px;

        .btn-primary {
            font-size: 14px;
            padding: 6px 8px;
        }
    }

    &__header {
        margin: 0;
        font-size: 28px;
        font-family: "Myriad Pro", sans-serif;
        color: $header-color-secondary;

        @media (max-width: $screen-sm-min) {
            text-align: center;
            margin-bottom: 15px;
        }

        &-button {
            float: right;
            text-align: right;

            @media (max-width: $screen-sm-min) {
                float: none;
                text-align: center;
            }
        }
    }

    &__loader {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }
}

.portfolio-item {
    margin-bottom: 66px;
    overflow: hidden;

    @media (max-width: $screen-md-min) {
        text-align: center;
    }

    img {
        margin-bottom: 14px;
        width: 282px;
    }

    &__header {
        margin-bottom: 6px;
        font-family: "Bree Serif", sans-serif;
        font-size: 17px;
        color: $header-color-secondary;
    }
}




/**
 * Offer
 */

 .offer {
    line-height: 1.3em;

    &__header {
        padding-top: 34px;
        margin-top: 0;
        margin-bottom: 22px;
        font-family: Oswald, sans-serif;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        color: $header-color-primary;
    }

    &__desc {
        margin-bottom: 36px;
        font-size: 12px;
        text-align: center;
    }
 }

.offer-item {
    margin-bottom: 30px;
    @include clearfix();

    &__header {
        margin-bottom: 10px;
        font-family: "Bree Serif", sans-serif;
        font-size: 17px;
        color: #2b99cc;
    }        

    p {
        padding-right: 10px;
        
        a {
            color: $header-color-primary;
            font-size: 14px;
        }
    }

    .btn {
        margin-right: 20px;
        margin-top: 8px;
        padding: 3px 10px;

        &--shadowed {
            margin-right: 24px;
            margin-top: 9px;
            padding: 5px 8px;
            box-shadow: 0px 3px 1px 0px rgba(50, 50, 50, 0.9);
        }
    }
}



/**
 * Page Footer
 */

.footer-main {
    padding-top: 42px;
    padding-bottom: 34px;
    background-color: #2e3e4f;
    color: $brand-secondary;

    &__header {
        margin-bottom: 12px;
        font-size: 25px;
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        color: $header-color-secondary;
        line-height: 1em;
    }

    &__col {
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
            min-height: 280px;
        }
        @media (max-width: $screen-md-min) {
            margin-bottom: 50px;
            text-align: center;
        }
    }

    &__item {
        padding-top: 12px;
        padding-bottom: 7px;
        border-bottom: 1px solid #556270;

        p {
            margin-bottom: 4px;
        }

        a {
            color: #2190c1;
        }

        &:last-of-type {
            border-bottom: none;
        }

        .footer-main &--bordered {
            border-bottom: 1px solid #556270;
        }

        img {
            float: left;
            width: 56px;
            margin-right: 10px;
        }
    }

    .contact {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        padding-left: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        background: url(../img/icon-contacts-phone.png) center left no-repeat;

        &--mobile {
            background-image: url(../img/icon-contacts-mobilephone.png);
        }

        &--mail {
            background-image: url(../img/icon-contacts-mail.png);
        }
    }
}


.footer-inner {
    display: inline-block;
    min-width: 200px;
}

.footer-wrapper--bordered {
    border-bottom: 1px solid #556270;

    &:last-of-type {
        border: none;
    }
}