/*
 *  Bootstrap
 */

/* Typography */
$font-family-sans-serif:  Ubuntu, Helvetica, Arial, sans-serif;
$font-size-base: 11px;

/* Colors */
$brand-primary: #515862;
$text-color: $brand-primary;

/* Grid */
$grid-columns: 24;
$grid-gutter-width: 30px !default;
$container-large-desktop:  918px + $grid-gutter-width;

/* Navbar */
$navbar-height: 80px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-default-bg: #fff;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-active-color: #c5f4ff;
$navbar-default-link-active-bg: #12a3d6;

/* Buttons */
$btn-font-weight:                normal !default;
$btn-default-color:              #ffebca;
$btn-default-bg:                 #f98561;
$btn-default-border:             #f98561;
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 #2190c1;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;




/*
 * Custom
 */

/* Colors */
$brand-secondary: #bcbcbc;
$background-grey: #f4f4f4;
$header-color-primary: #2190c1;
$header-color-secondary: #f98561;

/* Navbar */
$navbar-font-size: 14px; 
$navbar-font-size-active: 15px; 

/* Font */
$font-family-secondary: "Oswald", sans-serif;