//= template/header.html

<div class="carousel slide" id="carousel-index">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="item__image-wrapper">
                <img src="img/slider1.jpg" alt="Good design in good business">
            </div>
            <div class="carousel-caption">
                <h2 class="carousel__header">Good Design Is Good Business</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.<br>
                Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
                <a class="btn btn-default" href="#">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>

<div class="bg-grey">
    <div class="container services">
        <h2 class="services__header">Our Services</h2>
        <div class="row">
            <div class="col-md-5 col-sm-12 service">
                <img class="service__logo" src="img/icon-services-1.png" alt="Web Design">
                <div class="service__header">Web Design</div>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. 
                    Mauris nec ipsum at lacus 
                    commodo suscipit. <a href="#">Details...</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-12 service">
                <img class="service__logo" src="img/icon-services-2.png" alt="Search Optimization">
                <div class="service__header">Search Optimization</div>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. 
                    Mauris nec ipsum at lacus 
                    commodo suscipit. <a href="#">Details...</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-12 service">
                <img class="service__logo" src="img/icon-services-3.png" alt="Online Shop">
                <div class="service__header">Online Shop</div>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. 
                    Mauris nec ipsum at lacus 
                    commodo suscipit. <a href="#">Details...</a></p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-12 service">
                <img class="service__logo" src="img/icon-services-4.png" alt="Social Media">
                <div class="service__header">Social Media</div>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. 
                    Mauris nec ipsum at lacus 
                    commodo suscipit. <a href="#">Details...</a></p>
            </div>
        </div>
    </div>
</div>

<div class="portfolio">
    <div class="container">
        <div class="row portfolio__header-row">
            <div class="col-sm-20">
                <h2 class="portfolio__header">Our Portfolio Awesome</h2>
            </div>
            <div class="col-sm-4 portfolio__header-button">
                <a class="btn btn-primary" href="#">More Works</a>
            </div>
        </div>
        <div class="row" id="portfolio-loading">
            <div class="portfolio__loader"><img src="img/preloader.gif"></div>
        </div>
    </div>
</div>

<div class="bg-grey">
    <div class="container offer">
        <h2 class="offer__header">What We Offer</h2>
        <p class="offer__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna.<br>
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
        </p>
        <div class="row">
            <div class="col-md-6 offer-item">
                <div class="offer-item__header">Web Design</div>
                <p>
                    Lorem ipsum dolor sit amet, consect 
                    etur adipiscing elit. Ut ultricies sagit
                    tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luctuset.
                </p>
                <a href="#" class="btn btn-primary pull-right">Details</a>
            </div>
            <div class="col-md-6 offer-item">
                <div class="offer-item__header">Search Optimization</div>
                <p>
                    Lorem ipsum dolor sit amet, consect 
                    etur adipiscing elit. Ut ultricies sagit
                    tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus <a href="#">Details...</a>
                </p>
            </div>
            <div class="col-md-6 offer-item">
                <div class="offer-item__header">Online Shop</div>
                <p>
                    Lorem ipsum dolor sit amet, consect 
                    etur adipiscing elit. Ut ultricies sagit
                    tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luctuset.
                </p>
                <a href="#" class="btn btn-primary btn--shadowed pull-right">Details</a>
            </div>
            <div class="col-md-6 offer-item">
                <div class="offer-item__header">Social Media</div>
                <p>
                    Lorem ipsum dolor sit amet, consect 
                    etur adipiscing elit. Ut ultricies sagit
                    tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luc <a href="#">&gt;&gt;&gt;</a>
                </p>
            </div>
        </div>
    </div>
</div>

//= template/footer.html